{{- define "main" }}

    {{- $pages := union .RegularPages .Sections }}

    {{- if .IsHome }}
        {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- end }}

    {{- $paginator := .Paginate $pages }}

<div class="Qc_main index">
    <div class="Qc_index">
        
        <div class="Qc_index_list">
            <ul class="Qc_list">

                {{- range $index, $data := $paginator.Pages }}
                    {{ partial "article.html" $data }}

                {{ end }}

            </ul>
            
        </div>
    
        {{ partial "paginator" . }}

    </div>
</div>

{{- end }}




