{{- define "main" }}

{{ $isComment := .Params.comment.enable | default .Site.Params.comments.enable }}
{{ .Scratch.Set "isComment" $isComment }}
<div class="Qc_main Qc_post">
    <div class="Qc_detail">
        <h1 class="title Qc_detail_title"> {{ .Title }}</h1>
        <div class="Qc_bread">
            <ul class="Qc_bread_bread">
                <li class="item"> <span class="iconfont icon-A131" style="margin-right: 4px;"></span> <a
                        href="https://qiucode.cn/" class="link" title="首页">首页</a> </li>
                <li class="line">/</li>
                <li class="item"> <a class="link" href="https://qiucode.cn/category/bkfx/" title="博客分享">博客分享</a>
                </li>
                <li class="line">/</li>
                <li class="item">正文</li>
            </ul>
        </div>
        <div class="Qc_detail_category"> </div>
        <article class="Qc_detail_article" id="article-container">
            {{ .Content }}
        </article>
    </div>


     <!-- 上一篇 下一篇 -->
     <div class="entry-page">
        {{ with .PrevInSection }}
        <div class="entry-page-prev j-lazy" style="background-image: url({{ (.Params.cover.image) | absURL }})">
            <a href="{{ .RelPermalink | relLangURL }}"> 
                <span>{{ .Title }}</span> 
            </a>
            <div class="entry-page-info"> 
                <span class="pull-left">« 上一篇</span> 
                <span class="pull-right">{{ .Date.Format .Site.Params.dateFormat }}</span>
            </div>
        </div>
        {{ end }}

        {{ with .NextInSection }} 
        <div class="entry-page-next j-lazy" style="background-image: url({{ (.Params.cover.image) | absURL }})">
            <a href="{{ .RelPermalink | relLangURL }}">
                <span>{{ .Title }}</span> 
            </a>
            <div class="entry-page-info"> 
                <span class="pull-right">下一篇  »</span> 
                <span class="pull-left">{{ .Date.Format .Site.Params.dateFormat }}</span>
            </div>
        </div> 
        {{ end }}

    </div>

    {{ if and .IsPage $isComment }}
       	{{ partialCached "comments.html" . }}
    {{ end }}
</div>


{{- end }}


