{{ $root := . }}
{{ with .Site.Params.comments }}
{{ $tc := and .storage (gt (len .nav) 1) }}
{{ $active := .active }}
{{ $fc := .active }}
{{ $sc := "" }}
{{ $sn := "" }}
<div id="comments" class="post-comments">
  <div class="comment-head">
    <div class="comment-headline">
      <i class="fa fa-comments fa-fw"></i>
      <!-- <span>评论</span> -->
    </div>
  
  </div>
  <div class="comment-wrap">
  {{ $cp := "_thirdparty/comment/%s.html" }}
  {{ if $tc }}
  {{ range $sn }}
    <div>
      {{ partial "_thirdparty/comment/comm_loading.html" . }}
      {{ partial (printf $cp (lower .name)) $root }}
    </div>
  {{ end }}
  {{ else }}
    <div>      
      {{ partial "_thirdparty/comment/comm_loading.html" . }}
      {{ partial (printf $cp $fc) $root }}
    </div>
  {{ end }}
  </div>
</div>  
{{ end }}