<!-- <link rel="stylesheet" href="https://qiucode.cn/usr/themes/Xc/assets/Xc/css/Xc.dhltm.css" /> -->
<div class="Qc_header_above">
    <div class="Qc_container"> 
        <svg class="Qc_header_above-slideicon" viewBox="0 0 1152 1024"
            xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <path
                d="M76.032 872a59.968 59.968 0 1 0 0 120h999.936a59.968 59.968 0 1 0 0-120H76.032zm16-420.032a59.968 59.968 0 1 0 0 120h599.936a59.968 59.968 0 1 0 0-119.936H92.032zM76.032 32a59.968 59.968 0 1 0 0 120h999.936a60.032 60.032 0 0 0 0-120H76.032z" />
        </svg> 
        <a class="Qc_header_above-logo" href="/" title="John'Blog"> 
            <img class="Qc_logo"
                src="/static/front/images/qiu-logo.png" /></a>
        <nav class="Qc_header_above_nav"> 
            
            <a class="item {{ if eq (.RelPermalink | relLangURL) "/" }} active {{ end }}" href="/" title="首页" style="margin-right:8px">
                <i class="fa fa-home"></i> 首页
            </a>
           
            <a class="item {{ if eq (.RelPermalink | relLangURL) "/flinks/" }} active {{ end }}" href="/flinks" title="友情链接">
                <i class="fa fa-link"></i>友情链接
            </a> 


            <a class="item {{ if eq (.RelPermalink | relLangURL) "/about/" }} active {{ end }}" href="/about" title="关于我">
                <i class="fa fa-user"></i>关于本站
            </a>
        </nav> 

        
        
        <svg class="Qc_header_above-searchicon" viewBox="0 0 1024 1024"
            xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="display: block;">
            <path
                d="M1008.19 932.031L771.72 695.56a431.153 431.153 0 1 0-76.158 76.158l236.408 236.472a53.758 53.758 0 0 0 76.158 0 53.758 53.758 0 0 0 0-76.158zM107.807 431.185a323.637 323.637 0 0 1 323.316-323.381 323.7 323.7 0 0 1 323.381 323.38 323.637 323.637 0 0 1-323.38 323.317 323.637 323.637 0 0 1-323.317-323.316z" />
        </svg> 
        <a href="javascript:void(0)" type="button" id="ClickMe" style="margin: 0px 3px 2px 13px"><svg
                t="1675873194952" class="loingico" viewBox="0 0 1024 1024" version="1.1"
                xmlns="http://www.w3.org/2000/svg" p-id="3929" width="22" height="22">
                <path
                    d="M554.666667 349.44a48.213333 48.213333 0 1 1-47.786667 47.786667A48.213333 48.213333 0 0 1 554.666667 349.44m0-85.333333a133.546667 133.546667 0 1 0 133.546666 133.12A133.12 133.12 0 0 0 554.666667 264.106667z"
                    fill="var(--routine)" p-id="3930"></path>
                <path
                    d="M768 759.893333a42.666667 42.666667 0 0 1-42.666667-42.666666 170.666667 170.666667 0 0 0-341.333333 0 42.666667 42.666667 0 0 1-85.333333 0 256 256 0 0 1 512 0 42.666667 42.666667 0 0 1-42.666667 42.666666z"
                    fill="var(--routine)" p-id="3931"></path>
                <path
                    d="M554.666667 213.333333a341.333333 341.333333 0 1 1-341.333334 341.333334 341.333333 341.333333 0 0 1 341.333334-341.333334m0-85.333333a426.666667 426.666667 0 1 0 426.666666 426.666667A426.666667 426.666667 0 0 0 554.666667 128z"
                    fill="var(--routine)" p-id="3932"></path>
            </svg> </a>
       
    </div>
</div>

<div class="Qc_header_slideout"> 
    <img width="100%" height="150" class="Qc_header_slideout-image"
        src="https://qiucode.cn/shaonv.jpg" alt="侧边栏壁纸" />
    <div class="Qc_header_slideout-author"> <img width="50" height="50" class="avatar"
            src="https://thirdqq.qlogo.cn/g?b=qq&nk=687778&s=100" alt="博主昵称" />
        <div class="info"> <a class="link" href="https://qiucode.cn" target="_blank"
                rel="noopener noreferrer nofollow">John</a>
            <p class="motto Qc_motto"></p>
        </div>
    </div>
    <ul class="Qc_header_slideout-count"> </ul>
    <ul class="Qc_header_slideout-menu panel-box">
        <li> <a class="link" href="https://qiucode.cn/" title="首页"> <span><i class="iconfont icon-A131"></i>
                    首页</span> </a> </li>
        <li> <a class="link panel" href="#" rel="nofollow"> <span><i class="iconfont icon-A129"></i> 分类</span>
                <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="13"
                    height="13">
                    <path
                        d="M624.865 512.247L332.71 220.088c-12.28-12.27-12.28-32.186 0-44.457 12.27-12.28 32.186-12.28 44.457 0l314.388 314.388c12.28 12.27 12.28 32.186 0 44.457L377.167 848.863c-6.136 6.14-14.183 9.211-22.228 9.211s-16.092-3.071-22.228-9.211c-12.28-12.27-12.28-32.186 0-44.457l292.155-292.16z" />
                </svg> </a>
            <ul class="slides panel-body panel-box">
                <li>
                    <div class="link panel "> <a href="https://qiucode.cn/category/default/" title="日常分享">日常分享</a>
                        <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="13"
                            height="13">
                            <path
                                d="M624.865 512.247L332.71 220.088c-12.28-12.27-12.28-32.186 0-44.457 12.27-12.28 32.186-12.28 44.457 0l314.388 314.388c12.28 12.27 12.28 32.186 0 44.457L377.167 848.863c-6.136 6.14-14.183 9.211-22.228 9.211s-16.092-3.071-22.228-9.211c-12.28-12.27-12.28-32.186 0-44.457l292.155-292.16z" />
                        </svg> </div>
                    <ul class="slides panel-body">
                        <li><a class="link " href="https://qiucode.cn/category/wmfx/" title="外贸分享">外贸分享</a></li>
                        <li><a class="link " href="https://qiucode.cn/category/wztj/" title="网站推荐">网站推荐</a></li>
                        <li><a class="link " href="https://qiucode.cn/category/yxxg/" title="游戏相关">游戏相关</a></li>
                    </ul>
                </li>
                <li><a class="link " href="https://qiucode.cn/category/xitong/" title="系统相关">系统相关</a></li>
                <li>
                    <div class="link panel "> <a href="https://qiucode.cn/category/wangzhan/"
                            title="网站文档">网站文档</a> <svg class="icon" viewBox="0 0 1024 1024"
                            xmlns="http://www.w3.org/2000/svg" width="13" height="13">
                            <path
                                d="M624.865 512.247L332.71 220.088c-12.28-12.27-12.28-32.186 0-44.457 12.27-12.28 32.186-12.28 44.457 0l314.388 314.388c12.28 12.27 12.28 32.186 0 44.457L377.167 848.863c-6.136 6.14-14.183 9.211-22.228 9.211s-16.092-3.071-22.228-9.211c-12.28-12.27-12.28-32.186 0-44.457l292.155-292.16z" />
                        </svg> </div>
                    <ul class="slides panel-body">
                        <li><a class="link " href="https://qiucode.cn/category/bkfx/" title="博客分享">博客分享</a></li>
                        <li><a class="link " href="https://qiucode.cn/category/wzym/" title="网站源码">网站源码</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link panel "> <a href="https://qiucode.cn/category/ruanjian/"
                            title="软件分享">软件分享</a> <svg class="icon" viewBox="0 0 1024 1024"
                            xmlns="http://www.w3.org/2000/svg" width="13" height="13">
                            <path
                                d="M624.865 512.247L332.71 220.088c-12.28-12.27-12.28-32.186 0-44.457 12.27-12.28 32.186-12.28 44.457 0l314.388 314.388c12.28 12.27 12.28 32.186 0 44.457L377.167 848.863c-6.136 6.14-14.183 9.211-22.228 9.211s-16.092-3.071-22.228-9.211c-12.28-12.27-12.28-32.186 0-44.457l292.155-292.16z" />
                        </svg> </div>
                    <ul class="slides panel-body">
                        <li><a class="link " href="https://qiucode.cn/category/sjrj/" title="📱手机软件">📱手机软件</a>
                        </li>
                        <li><a class="link " href="https://qiucode.cn/category/dnrj/" title="💻电脑软件">💻电脑软件</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li> <a class="link panel" href="#" rel="nofollow"> <span><i class="iconfont icon-A3"></i> 页面</span>
                <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="13"
                    height="13">
                    <path
                        d="M624.865 512.247L332.71 220.088c-12.28-12.27-12.28-32.186 0-44.457 12.27-12.28 32.186-12.28 44.457 0l314.388 314.388c12.28 12.27 12.28 32.186 0 44.457L377.167 848.863c-6.136 6.14-14.183 9.211-22.228 9.211s-16.092-3.071-22.228-9.211c-12.28-12.27-12.28-32.186 0-44.457l292.155-292.16z" />
                </svg> </a>
            <ul class="slides panel-body">
                <li><a class="link " href="https://qiucode.cn/sn.html" title="我的记录">我的记录</a></li>
                <li><a class="link " href="https://qiucode.cn/youlian.html" title="友情链接">友情链接</a></li>
                <li><a class="link " href="https://qiucode.cn/site.html" title="站点统计">站点统计</a></li>
                <li><a class="link " href="https://qiucode.cn/Aboutme.html" title="关于我">关于我</a></li>
            </ul>
        </li>
    </ul>
    <ul class="Qc_header_slideout-menu panel-box" style="margin-top: 15px;margin-bottom: 100px;">
        <li> <a class="link panel" href="#" rel="nofollow"> <span><i class="iconfont icon-A17"></i> 用户登录</span>
                <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="13"
                    height="13">
                    <path
                        d="M624.865 512.247L332.71 220.088c-12.28-12.27-12.28-32.186 0-44.457 12.27-12.28 32.186-12.28 44.457 0l314.388 314.388c12.28 12.27 12.28 32.186 0 44.457L377.167 848.863c-6.136 6.14-14.183 9.211-22.228 9.211s-16.092-3.071-22.228-9.211c-12.28-12.27-12.28-32.186 0-44.457l292.155-292.16z">
                    </path>
                </svg> </a>
            <ul class="slides panel-body">
                <li> <a class="link" href="https://qiucode.cn/admin/login.php" target="_blank"
                        rel="noopener noreferrer nofollow">登录</a> <a class="link"
                        href="https://qiucode.cn/admin/register.php" target="_blank"
                        rel="noopener noreferrer nofollow">注册</a> </li>
            </ul>
        </li>
    </ul>
</div>
<div class="Qc_header_mask"></div>

<script>

    let sideBtn = document.querySelector(".Qc_header_above .Qc_container .Qc_header_above-slideicon")

    sideBtn.addEventListener("click", () => {
        document.querySelector(".Qc_header_slideout").classList.add("active")
        document.querySelector(".Qc_header_mask").classList.add("active")
    })

    let maskBtn = document.querySelector(".Qc_header_mask")

    maskBtn.addEventListener("click",() => {
        document.querySelector(".Qc_header_slideout").classList.remove("active")
        maskBtn.classList.remove("active")
    })

   
    

</script>