
<title>{{ .Title }}</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
 <meta name="format-detection" content="email=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="copyright" content="{{ .Site.Params.headMeta.copyright }}">
<meta name="mediaid" content="{{ .Site.Params.headMeta.siteName }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">

<meta name="keywords" content="{{ if and .IsPage (isset .Params "tags")}}{{ delimit .Params.tags "," }}{{ else }}{{ .Site.Params.headMeta.keywords }}{{ end }}" />

{{ if .Site.Params.headMeta.description }}
<meta name="description" content="{{ .Site.Params.headMeta.description }}">
{{ else if .IsPage }}
<meta name="description" content="{{ .Summary }}">
{{ end }}

{{ with .Site.Author.Name }}
<meta name="author" content="{{ . }}">
{{ end }}
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="site" content="{{ .Site.Params.headMeta.siteUrl }}">

<!-- OG -->
{{ if .IsPage }}
<meta property="og:image" content="{{ .Params.cover.image }}">
<meta property="og:description" content="{{ .Summary }}">
<meta property="og:type" content="news">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:release_date" content="{{ .Date }}">
<meta itemprop="dateUpdate" content="{{ .Lastmod }}">
<meta itemprop="datePublished" content="{{ .Date }}">
{{ else }}
<meta property="og:image" content="{{ .Site.BaseURL }}imgs/icons/favicon.ico">
<meta property="og:description" content="{{ .Site.Params.headMeta.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.Params.headMeta.siteUrl }}">
{{ end }}

<meta property="og:locale" content="zh_CN">
<meta property="og:site_name" content="{{ .Site.Author.Name }}">
<meta property="og:title" content="{{ .Title }}">

<meta property="twitter:partner" content="ogwp">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="google-adsense-account" content="ca-pub-5798408669698308">

<link rel="alternate" href="{{ .Site.BaseURL }}feed.xml" title="{{ .Site.Title }}" type="application/rss+xml"/>
<link rel="shortcut icon" href="{{ .Site.Params.headMeta.shortCutIcon }}"/>
<link rel="apple-touch-icon" href="{{ .Site.Params.headMeta.appleTouchIcon }}" />
<link rel="apple-touch-icon-precomposed" href="{{ .Site.Params.headMeta.appleTouchIcon }}" />


{{ $isComment := .Scratch.Get "isComment" }}

<style>
    @font-face {
        font-family: 'Kiwi Font';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("/fonts/fontawesome-webfont.woff2") format("woff2");
    }

    html {
        font-family: 'Kiwi Font', 'PingFang SC', 'Noto Serif SC', 'HarmonyOS_Sans_SC_Medium', 'Fira Mono', 'Microsoft YaHei', Arial, sans-serif
    }

    html .Qc_header_above .Qc_container {
        max-width: 1720px
    }

    html .Qc_header_below .Qc_container {
        max-width: 1720px
    }

    html .Qc_header_searchout .Qc_container {
        max-width: 1720px
    }

    html .Qc_main {
        max-width: 980px
    }

    html .Qc_aside {
        width: 260px
    }

    body::before {
        background: #f0f0f0;
        background: ;
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<link rel="stylesheet" href="{{ .Site.BaseURL }}css/global.min.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/theme.min.css" />

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css" />

{{ if and ( not $.IsHome ) $isComment }}
<!-- comment -->
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
{{ end }}

{{ if .IsPage }}

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/blackmac.css">

{{ end }}


{{- if eq .Section "tags"}}
{{/* 标签云 */}}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/word-cloud.css"\>
<script src="{{ .Site.BaseURL }}js/third-party/wordcloud/wordcloud2.js"></script>
{{- end }}

{{ if .IsHome }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/index.min.css" />

<script type="module">
    import { pageviewCount } from 'https://unpkg.com/@waline/client@2.15.5/dist/pageview.mjs';
    import { commentCount } from 'https://unpkg.com/@waline/client@2.15.5/dist/comment.mjs';

    pageviewCount({
        serverURL:  "example.qiucode.cn", //评论系统服务器 URL
        
    });
  
    commentCount({
      serverURL: "example.qiucode.cn", //评论系统服务器 URL
  
      // 可选的，用于自定选择器，默认为 `'.waline-pageview-count'`
      // selector: '.waline-pageview-count',
    });
  </script>
{{ end }}

{{- if and ( not $.IsHome )  $isComment }}
<script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
  
    init({
      el: '.waline-container',
      placeholder: "请不要吝啬您的评论 ヾ(≧▽≦*)o",
      sofa: "瞧，这里没人，还不抢占第一的位置 (≧∀≦)ゞ",
      pageview: true, //浏览量统计
      comment: true, //评论数统计 
      emoji: [
        '//unpkg.com/@waline/emojis@1.1.0/weibo',
        '//unpkg.com/@waline/emojis@1.1.0/bilibili',
      ],
      login: 'disable',
      imgUploader: false,
      wordLimit: 200,
      requiredMeta: ['nick', 'mail'],
      reaction: true,
      reactionText: [ '点赞', '踩一下', '得意', '不屑', '尴尬', '睡觉'],
      reactionTitle: "您认为这篇文章怎么样？",
      dark: 'auto', //'html[data-theme="dark"]',
      serverURL: "example.qiucode.cn", //评论系统服务器 URL
    });
  </script>

  {{- end }}
  